* {
    margin: 0;
    padding: 0;

}

body {
    background-color: antiquewhite;
}

.body {
    height: 99vh;
}

.main {
    background-color: rgb(255, 187, 168);
}

.table_lessons h2 {
    text-align: center;
}

.list {
    display: flex;
    margin-top: 20px;
    gap: 0 25px;
}

.list li {
    font-weight: 700;
    font-size: 30px;
}